@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Button Components */

  .btn {
    @apply flex text-sm disabled:cursor-not-allowed disabled:select-none disabled:opacity-50;
  }
  .btn-primary {
    @apply rounded-full bg-violet-500 px-4 py-2 font-semibold
    text-white shadow-md hover:bg-violet-600 focus:outline-none
    focus:ring-2 focus:ring-violet-500 focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply rounded-full bg-slate-500 px-4 py-2 font-semibold 
    text-white shadow-md hover:bg-slate-600 focus:outline-none
    focus:ring-2 focus:ring-violet-500 focus:ring-opacity-75;
  }
  .btn-outline {
    @apply rounded-full bg-transparent px-4 py-2 font-semibold text-violet-500 shadow-md
    ring-1 ring-violet-500 hover:bg-violet-600 hover:text-white focus:outline-none
    focus:ring-2 focus:ring-violet-500 focus:ring-opacity-75;
  }

  .btn-error-outline {
    @apply rounded-full bg-transparent px-4 py-2 font-semibold text-red-500 shadow-md
    ring-1 ring-red-500 hover:bg-red-600 hover:text-white focus:outline-none
    focus:ring-2 focus:ring-red-500 focus:ring-opacity-75;
  }

  /* Input Components */

  .tw-input {
    @apply rounded-xl bg-white px-3 py-2.5 text-sm text-black
      outline-violet-400 ring-1 ring-slate-300 placeholder:text-slate-500
       read-only:text-slate-500 read-only:ring-0 hover:ring-violet-400 focus:read-only:ring-0
        active:ring-1 active:ring-violet-200;
  }

  .anim-scale-out-right {
    @apply duration-200
    aria-[hidden=true]:fixed
    aria-[hidden=true]:w-0
    aria-[hidden=true]:translate-x-[100vh]
    aria-[hidden=true]:overflow-hidden
    aria-[hidden=false]:transition-transform
    aria-[hidden=false]:delay-200 aria-[hidden=false]:ease-out;
  }

  audio::-webkit-media-controls-panel {
    background: #ddd6fe;
  }
  .anim-scale-out-top {
    @apply aria-[hidden=true]:fixed
    aria-[hidden=true]:w-0
    aria-[hidden=true]:translate-y-[100vh]
    aria-[hidden=true]:overflow-hidden
    aria-[hidden=false]:transition-transform
    aria-[hidden=false]:delay-100
    aria-[hidden=false]:duration-500
    aria-[hidden=false]:ease-out;
  }

  .aria-hide {
    @apply aria-[hidden=true]:hidden;
  }

  .card-layout {
    @apply flex cursor-pointer items-center
    rounded-lg border-solid border-slate-400 p-2 hover:bg-slate-100
    aria-[selected=true]:bg-violet-200;
  }
}

.arrow-left::before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  left: 0;
  top: 92%;
  border: 10px solid transparent;
  border-left: 0;
  border-right: 10px solid rgb(167 139 250 / var(--tw-bg-opacity));
  transform: translate(calc(-100% - 1px), -50%);
}

.anim-scale-down {
  animation: myAnim 0.3s ease-in 0s 1 reverse both;
}

.my-custom-anim {
  animation: myCustom 2s ease-out 0s 1 rev both;
}

.animation-scale-up-tl {
  -webkit-animation: scale-up-tl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-tl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide-out-blurred-top {
  -webkit-animation: slide-out-blurred-top 0.45s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06)
    both;
}

.slide-out-elliptic-top-bck {
  -webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
  animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}

.hide-out {
  animation: hide-out 0.5s 0 ease-out normal;
}

.slide-right-animation {
  animation: 0.2s slideRight;
}

/**
 * ----------------------------------------
 * css::@keyframes
 * --------------------------------------
 */

@keyframes hide-out {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0;
    display: none;
  }
}

@-webkit-keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    margin-left: -100%;
    white-space: none;
    display: none;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes myCustom {
  0% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: purple;
  }
}

@keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

@-webkit-keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

/* Animation classes */

@keyframes myAnim {
  0% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }

  100% {
    transform: scale(0);
    transform-origin: 50% 0%;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 0px;
  }

  .scrollbar-thin:hover::-webkit-scrollbar {
    visibility: visible;
    width: 1px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 3px;
  }

  /* You can add more styles as needed */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
